.app-store > .container {
  background-image: url(../img/apps-img.png);
  background-repeat: no-repeat;
  background-position: right center;
}

.app-store .content-wrapper {
  padding: 150px 0;
}

.providers .btn,
.app-store .btn {
  margin-top: 40px;
}
